# Object files
*.o
*.obj
*.elf

# Libraries
*.a
*.la
*.lo

# Shared objects / dynamic libs
*.so
*.so.*
*.dylib
*.dll

# Executables
*.exe
*.out
*.app
*.hex
sniffer
pcapture

# Logs
logs/*.log

# Debug / profiling
*.dSYM/
*.su
*.pdb
*.dwo
*.map
*.idb
callgrind.out.*
cachegrind.out.*

# Build folders
/build/
/bin/
/dist/

# Documentation files (generated/temporary)
PCAPture_Complete_Documentation.md
PCAPture_Documentation.html